body{
    font-family: sans-serif;
}

.container{
    width: 110%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

.card{
    height: 400px;
    width: 550px;
    background-image: url(foto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: wheat;
    cursor: pointer;
    transition: 0.3;
}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid wheat;

}